body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background: #fff;
    color: #222;
    transition: background 0.1s;
}

body.dark {
    background: #222;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minimizar-button {
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.2rem 0.1rem 0.5rem #bbb;
    font-weight: bold;
    background: #fff;
    color: #222;
    margin-bottom: 0.5rem;
    transition: backgroud 0.4s ease-in-out, color 0.4s ease-in-out;
}

.minimizar-button:hover {
    background: #222;
    color: #FFF;
}

body.dark .minimizar-button {
    background: #444;
    color: #FFF;
    box-shadow: 0.2rem 0.1rem 0.5rem #444;
}

body.dark .minimizar-button:hover {
    background: #FFF;
    color: #222;
}

.header-1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.test-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 0.2rem;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.5rem;
}

.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.theme-toggle .sun {
    color: #f39c12; /* Color del sol */
}

.theme-toggle .moon {
    color: #3498db; /* Color de la luna */
}

.switch-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.switch-container span {
    font-weight: bold;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
